<h1>qChat</h1>

<div id="chat">
    <%= "<iframe src=\"/log?room=#{room}\"></iframe>" %>

<%= "<form action=\"/send?room=#{room}\" method=\"post\">" %>
      <input type="text" name="message" maxlength="50" required>
      <button type="submit">Enviar</button>
      <button onclick="window.location.reload()">Atualizar</button>
</form>
<a href="/rooms">Voltar para as salas.</a>
<br>
<a href="/logoff"><button>Sair</button></a>

</div>

<div id="users">
     <h3>Usuários Online</h3>
     <ul>
          <% users.each do |user| %>
		  	<%= "<li>#{user}" %>
	  <% end %>
     </ul>
</div>

<% if mod %>
   <%=
   '<p>Comandos Disponíveis:</p>
   	<ul>
		<li><i>/delete n</i>: deletar mensagem número n.
		<li><i>/delete all</i>: deletar todas as mensagens.
       		<li><i>/ban xxxx</i>: banir usuário.
		<li><i>/newroom xxxx yyyy</i>: Criar sala de chat com nome xxxx e descrição yyyy (admin).
		<li><i>/mod xxxx</i>: Tornar usuário(a) xxxx moderador(a) (admin).
		<li><i>/unmod xxxx</i>: Remover moderador(a) xxxx (admin).
	</ul>' %>
<% end %>
