<html>
	<head>
		<title>qChat</title>
		<link rel="stylesheet" href="/style.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>

	<body>
		<%= yield %>
		<hr>
		<small>qChat. Quote, 2022.</small>
	</body>
</html>
